
<div id="header">
<h1>Inspiro India</h1>
 <h4>Inspire India anonymously</h4>
 <div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button><span><input type="text" class="searchbx" placeholder="Search,Enter keywords(Case sensitive)" #search (keyup)="0"></span>
 </div>
</div>

  <div class="row columns">
  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Write something inspirational?(Enter is send)" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  

  <div id="details-container">
      <p *ngFor="let item of items | async | filter:search.value">{{item.message}}
        <br>
        
        <br>
        <i style="font-size:14px">{{item.refer}}</i>

      </p>
      
  </div>
       
  </div>