/* You can add global styles to this file, and also import other style files */
#header{
    background-color: #262626;
    color:#ffffff;
    margin: 0px;
}
body {
    background-color:#edc200;
}
* {
    font-family: 'Raleway';
}
button {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
}

#footer{
    margin-top: 20px;
    padding-top: 20px;
    height: 200px;
    text-align: center;
    background-color: #262626;
    color: #666666;

}